.blog-posts {
    .blog-post {
        .blog-post-body {
        }

        .blog-post-heading h1 {
            text-align: center; /* Center the text horizontally within the container */
        }

        .blog-post-title {
            text-align: center;
        }

        .blog-post-image img {
            display: block;
            margin: 0 auto;
            height: auto;
        }

        .blog-post-text {
            font-size: 1.1em;
            line-height: calc(1ex / 0.38);
            max-width: 80ch;
            word-wrap: break-word;
            margin: 1em auto;
        }

        .blog-post-intro {
            font-size: 1.3em;
            max-width: 40ch;
            margin: 1em auto;
            text-align: center;
        }
    }
}
