
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #126562;
    color: #fff;

    .navbar-left {
        display: flex;
        align-items: center;

        .navbar-logo {
            margin-right: 20px;
            font-size: 1.5rem;
            color: #fff;
            text-decoration: none;
        }

        .navbar-breadcrumb {
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .navbar-right {
        .navbar-toggle {
            background: none;
            border: none;
            // Style your toggle button icon here
        }
    }
}

