@import '~bootstrap/dist/css/bootstrap';

body {
    background-color: #2af434;
}

#content {
    background-color: lightgray;
    font-size: 2rem;
}

#content2 {
    background-color: yellow;
}

#content3 {
    background-color: grey;
}
@import "~bootstrap/scss/bootstrap.scss";

:root {
    --color-page-background: pink;
    --color-text: 0, 0, 0;
    --color-border: turquoise;
    --color-article-background: lime;
    --color-article-shadow: black;
    --color-page-elements: whitesmoke;
    --color-text: black;
    --color-offcanvas: yellow;
}

.dark {
    --color-page-background: hsl(210, 50%, 20%);
    --color-text: 234, 222, 100;
    --color-border: hsl(20, 80%, 30%);
    --color-article-background: olive;
    --color-article-shadow: #111111;
    --color-page-elements: hsl(210, 50%, 20%);
    --color-text: #f5f5f5;
    --color-offcanvas: lime;
}

@import '_navbar.scss';

* {
    // Add your custom styles for all elements here
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-text);
    padding-bottom: 20px;
    margin-bottom: 4vh;
    background-color: var(--color-page-background);
}

main {
    margin: auto;
    margin-bottom: 4vh;
}

img {
    max-width: 100%;
}

.drawings {
    .drawing {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.4em;

        img {
            @extend .img-fluid;
            max-width: 100%;
            max-height: 80vh;
            margin: 1em;
            // box-shadow: 0 2em 3.2em rgba(var(--color-text), 0.9);
            // border: 5px solid var(--color-article-shadow);
        }
        .drawing-text {
            margin-top: 0.4em;
            p {
                hyphens: auto;
                padding: 1rem;
                margin-right: auto;
                margin-left: auto;
                max-width: 80ch; /* Limit to around 80 characters */
                background-color: var(--color-article-background);
            }
            h3 {
                @extend .h3;
                background-color: var(--color-article-background);
                padding: 0.4em;
            }
        }
    }
}

.btn-round {
    @extend .btn;
    @extend .btn-dark;
    @extend .rounded-circle;
    background-color: var(--color-text);
    width: 2em;
    height: 2em;
    display: flex;
    // align-items: center;
    // justify-content: center;
}



#scrollToTopBtn {
    @extend .btn;
    @extend .btn-light;
    @extend .rounded-circle;
    border: none;
    cursor: pointer;
    height: 24wh;
    max-height: 120px;
    width: 12vw;
    max-width: 60px;
    margin-top: 5vh;

    svg {
        fill: var(--color-text);
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
