:root {
    --color-page-background: whitesmoke;      /* Light pink */
    --color-text: #000000;           /* Black */
    --color-border: #49a6e9;                /* Light blue */
    --color-article-background: rgba(173, 266, 333, 0);
    --color-article-shadow: #333333;       /* Dark gray */
    --color-page-elements: #22aa00;        /* Light gray */
    --color-offcanvas: #ffea5e;            /* Yellow */
    --color-shadow: rgba(150, 240, 00, 0.7);
}

.dark {
    --color-page-background: #1a1a1a;      /* Dark gray */
    --color-text: #eae56b;            /* Yellowish */
    --color-border: #4d64a3;               /* Dark blue */
    --color-article-background: #556b2f;   /* Olive green */
    --color-article-shadow: #111111;       /* Black */
    --color-page-elements: #1a1a1a;        /* Dark gray */
    --color-offcanvas: #8dff5e;            /* Lime green */
}

* {
    // Add your custom styles for all elements here
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-text);
    padding-bottom: 20px;
    background-color: var(--color-page-background);
}

main {
    margin: 0 auto;
    // margin-bottom: 4vh;
}

img {
    max-width: 100%;
}

@import '_navbar.scss';
@import '_footer.scss';
@import '_blog.scss';
