{% extends "base.html" %}
{% block content %}
  {% load wagtailcore_tags wagtailimages_tags %}
  <div id="content">
    <h2>{{ page.title }}</h2>
    <div class="blog-posts">
      {% for blog_post in blog_posts %}
        <div class="blog-post">
          <h4><a href="{{ blog_post.url }}">{{ blog_post.title }}</a></h4>
          <p class="blog-post-date">{{ blog_post.date_published|date:"F j, Y" }}</p>
        </div>
        {{ blog_post.body }}
      {% endfor %}
    </div>
  </div>
  </div>
{% endblock %}
