{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="d-flex justify-content-center align-items-center">
      <!-- <h1>{{ page.title }}</h1> -->
      <div class="blog-post">
        {% include 'partials/titlebanner.html' with title=self.title %}
        {% for block in page.body %}
        {% if block.block_type == 'intro' %}
        <div  class="blog-post-intro">
            {{ block.value.text }}
        </div>
        {% elif block.block_type == 'heading' %}
          <div class="text-center">
            <h1> {{ block.value }} </h1>
          </div>
        {% elif block.block_type == 'image' %}
          {% image block.value.image width-1000 %}
        {% elif block.block_type == 'images' %}
          {% for img_block in block.value %}
            {% image img_block.image width-1200 %}
        {% endfor %}
        {% elif block.block_type == 'text' %}
        <div class="blog-post-text">
          {{ block.value.text }}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
