{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="utf=8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <title>simzam!</title>
        {% render_bundle 'style' 'css' %}
        {% block head-fields %}
        {% endblock head-fields %}
        {% block head-import %}
        {% endblock head-import %}
    </head>
    <body
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <main id='homepage-content'>
            {% include 'navbar.html' %}
            <div class='position-absolute top-0 start-50'>
            </div>
            {% block main-content %}
            {% endblock main-content %}
        </main>
        <footer>
            {% include 'footer.html' %}
        </footer>
        {% render_bundle 'style' 'js' %}
        {% render_bundle 'bundle' 'js' %}
        {% block footer-import %}
        {% endblock footer-import %}
    </body>
</html>
