{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="utf=8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <title>simzam!</title>
        {% render_bundle 'style' 'css' %}
        {% render_bundle 'style' 'js' %}
    </head>
    <body>
        {#% include 'offcanvas.html' %#}
        <header>
            {% include 'logo.html' %}
            {% include 'navbar.html' %}
        </header>
        <main id='homepage-content'>
                {% include 'testtext.html' %}
        </main>
        <footer>
            {% include 'footer.html' %}
        </footer>
        {% render_bundle 'bundle' 'js' %}
    </body>
</html>
