{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="utf=8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <title>simzam!</title>
        {% render_bundle 'style' 'css' %}
    </head>
    <body>
        {% include 'navbar.html' %}
        {% include 'logo.html' %}

        <div class="site-wrap">
            <main id='homepage-content'>
                {% block content %}
                    {% include 'testtext.html' %}
                {% endblock content %}
            </main>
        </div>
        <footer>
            {% include 'footer.html' %}
        </footer>
        {% render_bundle 'style' 'js' %}
        {% render_bundle 'bundle' 'js' %}
    </body>
</html>
