{% extends 'simzam/base.html' %}
{% load static   %}
{% block main-content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class='drawings'>
                    {% for drawing in drawings %}
                        <div class='drawing'>
                            <img src='{{ drawing.drawing.url }}'>
                            {{ drawing.text  }}
                        </div>
                    {% endfor %}
                        </div>
                </div>
            </div>
        </div>
{% endblock main-content %}
