#logo {
    $lt: 0.8vh;
    width: $lt * 12;
    height: $lt * 12;
    $cx: $lt * 6;
    $cy: $lt * 6;
    margin-bottom: 2vh;
    #outer_circle {
        r: $lt * 6;
        fill: var(--color-text);
        cx: $cx;
        cy: $cy;
    }
    #middle_circle {
        r: $lt * 4;
        fill: var(--color-page-background);
        cx: $cx;
        cy: $cy;
    }
    #inner_circle {
        r: $lt * 2;
        fill: var(--color-border);
        cx: $cx;
        cy: $cy;
    }
}

#hamburger-menu {
    // background-size: contains;
    background: var(--color-border);
    width: 5vh;
    height: 5vh;
    padding: 0.5vw;
    //border: 4px solid var(--color-border);
    //box-shadow: 0px 0px 22px 22px var(--color-page-background);
    // background-color: green;
    #hamburger-line-1 {
    }

    #hamburger-line-2 {
        y: 1.8vh;
    }

    #hamburger-line-3 {
        y: 3.5vh;
    }

    .hamburger-line {
        x: 0.5vh;
        y: 0.2vh;
        height: 0.8vh;
        width: 4vh;
        fill: var(--color-text);
        // stroke: var(--color-border);
        stroke-width: 0.3vw;
    }
}

.navigation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    background-color:var(--color-page-elements);
}

.nav-item {
    width: 400px;
    cursor:pointer;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.1vw;
    padding-left: 1vw;

    &:hover {
        font-size: 1.2em;
        background-color: var(--color-border);
        cursor: pointer;
        transition: all 0.1s ease-in;
    }
}


/* Nav Trigger */
.nav-trigger {
    /* critical styles - hide the checkbox input */
    position: absolute;
    display: none;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    /* critical positioning styles */
    position: fixed;
    left: 15px; top: 15px;
    z-index: 2;

    // non-critical apperance styles
    height: 30px;
    width: 30px;
    cursor: pointer;
    // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}

.nav-trigger:checked + label {
    left: 315px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 300px;
    //box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
