@import "~bootstrap/scss/bootstrap.scss";


// TODO: Clean up colors
$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);
$color-gray-light: rgba($color-white, .15);
$color-gray-dark: rgba($color-black, .15);

:root {
    --color-page-background: whitesmoke;
    --color-text: #{$color-black};
    --color-border: pink;
    --color-article-background: #{$color-white};
    --color-article-shadow: #{$color-gray-dark};
    --color-page-elements: whitesmoke;
}

.dark {
    --color-page-background: hsl(210, 50%, 20%);
    --color-text: #{$color-white};
    --color-border: hsl(20, 80%, 30%);
    --color-article-background: #{$color-gray-light};
    --color-article-shadow: #{$color-gray-dark};
    --color-page-elements: hsl(210, 50%, 20%);
}

@import '_navbar.scss';

* {
}

html {
    scroll-behavior: smooth;
}

body {
    padding-bottom: 20px;
    background-color: var(--color-page-background);
    // height: 100vh;
    overflow-y: hidden;
}

main {
    margin: auto;
}

img {
    max-width: 100%;
    // max-width: 100vw;
}

.drawings {
    max-height: 100vh;
    overflow-y: scroll;
    // scroll-snap-type: proximity;
    // scroll-snap-points-y: repeat(0.2rem);
    // scroll-snap-type: y proximity;
}

.drawing {
    justify-content: center;
    // scroll-snap-align: start;
    margin-bottom: 5vh;
}
