@import "~bootstrap/scss/bootstrap.scss";

// TODO: Clean up colors
$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);
$color-gray-light: rgba($color-white, .15);
$color-gray-dark: rgba($color-black, .15);

:root {
    --color-page-background: whitesmoke;
    --color-text: #{$color-black};
    --color-border: pink;
    --color-article-background: #{$color-white};
    --color-article-shadow: #{$color-gray-dark};
    --color-page-elements: whitesmoke;
    --color-text: rgb(2,2,2);
    --color-offcanvas: yellow;
}

.dark {
    --color-page-background: hsl(210, 50%, 20%);
    --color-text: #{$color-white};
    --color-border: hsl(20, 80%, 30%);
    --color-article-background: #{$color-gray-light};
    --color-article-shadow: #{$color-gray-dark};
    --color-page-elements: hsl(210, 50%, 20%);
    --color-text: whitesmoke;
    --color-offcanvas: teal;
}

@import '_navbar.scss';

* {
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-text);
    padding-bottom: 20px;
    margin-bottom: 4vh;
    background-color: var(--color-page-background);
}

main {
    margin: auto;
    margin-bottom: 4vh;
}



img {
    max-width: 100%;
}
// #drawings {
//   .drawing {
//     h2 {
//       text-align: center;
//     }

//     .image-container {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       min-height: 200px; /* Adjust the height as needed */
//       max-height: 80vh; /* Adjust the maximum height as needed */

//       img {
//         max-width: 100%;
//         max-height: 100%;
//       }
//     }

//     p {
//       text-align: center;
//     }
//   }
// }

// .drawings {
//     .drawing {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         img {
//             @extend .img-fluid;
//             max-width: 100%;
//             max-height: 100%;

//             // Center the image within its container
//             display: block;
//             margin-left: auto;
//             margin-right: auto;
//         }
//     }
// }

// .drawings {
//   .drawing {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     margin-bottom: 30px;

//     h2 {
//       font-size: 24px;
//       font-weight: bold;
//       margin-bottom: 10px;
//     }

//     img {
//       @extend .img-fluid;
//       max-width: 100%;
//       max-height: 80vh;
//       margin-bottom: 10px;
//     }

//     p {
//       font-size: 16px;
//       line-height: 1.5;
//       margin-bottom: 20px;
//     }
//   }
// }
.drawings {
  .drawing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

    h2 {
      @extend .h2;
      margin-bottom: 10px;
    }

    img {
      @extend .img-fluid;
      max-width: 100%;
      max-height: 80vh;
      margin-bottom: 10px;
    }

    p {
      @extend .lead;
      margin-bottom: 20px;
    }
  }
}

#scrollToTopBtn {
    background-color: var(--color-page-background);
    border: none;
    cursor: pointer;
    height: 24wh;
    max-height: 120px;
    width: 12vw;
    max-width: 60px;
    margin-top: 5vh;
    svg {
        fill: var(--color-text);
        stroke: black;
        // stroke-width: 1rem;
    }

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
