{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
  <div class="container">
    <h1>{{ page.title }}</h1>

    <div class="intro">
      {{ page.intro|richtext }}
    </div>

    <div class="blog-posts">
      {% for blog_post in blog_posts %}
        <div class="blog-post">
          <h2><a href="{{ blog_post.url }}">{{ blog_post.title }}</a></h2>
          <p class="blog-post-date">{{ blog_post.date_published|date:"F j, Y" }}</p>
          {% if blog_post.featured_image %}
            <img src="{{ blog_post.featured_image.url }}" alt="{{ blog_post.title }}">
          {% endif %}
          {{ blog_post.body }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
