{% load static %}
<ul class='navigation'>
    <li class="nav-item"
        hx-get="{% url 'simzam:drawing_index' %}"
        hx-target="#homepage-content"
        hx-swap="innerHTML"
        hx-push-url="true">
        drodler
    </li>
    <li class="nav-item"
        hx-get="{% url 'simzam:memo' %}"
        hx-target="#homepage-content"
        hx-swap="innerHTML"
        hx-push-url="true">
        memo
    </li>
    <li class="nav-item"
        hx-get="/makesomething"
        hx-target="#"
        hx-swap="innerHTML"
        hx-push-url="true">
        sysler
    </li>
</ul>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger">
    {% include 'hamburger-menu.html' %}
</label>
