<article id='testingcolors' class='article'>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Donec ac odio tempor orci
        dapibus. Fermentum leo vel orci porta non pulvinar
        neque. Nisi scelerisque eu ultrices vitae auctor eu.
        Elementum tempus egestas sed sed risus pretium.
        Magna fermentum iaculis eu non. Tempor commodo
        ullamcorper a lacus vestibulum sed. Ipsum dolor sit
        amet consectetur adipiscing elit pellentesque
        habitant. Neque egestas congue quisque egestas diam
        in arcu. Euismod lacinia at quis risus. Ac tincidunt
        vitae semper quis lectus. Varius duis at consectetur
        lorem donec massa sapien faucibus et. Vel turpis
        nunc eget lorem dolor sed viverra ipsum. Amet
        commodo nulla facilisi nullam. Semper feugiat nibh
        sed pulvinar proin gravida hendrerit l fsectus.
        Suspendisse in est ante in nibh mauris cursus mattis
        molestie. Morbi enim nunc faucibus a pellentesque.
    </p>
    <p>
        Phasellus egestas tellus rutrum tellus pellentesque
        eu tincidunt tortor. Et egestas quis ipsum
        suspendisse ultrices gravida dictum fusce. Diam ut
        venenatis tellus in metus. Augue ut lectus arcu
        bibendum at. Ultrices eros in cursus turpis.
        Porttitor lacus luctus accumsan tortor posuere ac ut
        consequat. Dolor magna eget est lorem ipsum. Tellus
        in hac habitasse platea dictumst. Eget egestas purus
        viverra accumsan in nisl nisi scelerisque eu.
        Suscipit adipiscing bibendum est ultricies integer
        quis. Lorem mollis aliquam ut porttitor leo a diam
        sollicitudin tempor.
    </p>
    <p>
        Nunc mattis enim ut tellus. Nibh mauris cursus
        mattis molestie a. Lacus viverra vitae congue eu
        consequat ac felis. Tincidunt arcu non sodales neque
        sodales ut. Morbi non arcu risus quis varius quam
        quisque. Eget gravida cum sociis natoque penatibus
        et magnis. Consequat interdum varius sit amet mattis
        vulputate. Sed risus ultricies tristique nulla
        aliquet enim tortor at auctor. A scelerisque purus
        semper eget duis at tellus. Metus dictum at tempor
        commodo ullamcorper a lacus vestibulum. Molestie ac
        feugiat sed lectus vestibulum mattis ullamcorper
        velit. Lectus urna duis convallis convallis tellus
        id interdum velit. Vel eros donec ac odio. In
        iaculis nunc sed augue. Phasellus faucibus
        scelerisque eleifend donec pretium vulputate sapien.
        Porttitor rhoncus dolor purus non enim praesent
        elementum. Eros donec ac odio tempor orci dapibus.
        Varius quam quisque id diam.
    </p>
</article>
