{% block main-content %}
    <div class="drawings">
        {% for drawing in page_obj %}
            {% include 'partials/drawing-detail.html' %}
        {% endfor %}

        {% if page_obj.has_next %}
            <div class="load-more-drawings"
                 hx-get="{% url 'simzam:drawings' %}?page={{ page_obj.number|add:1 }}"
                 hx-trigger="revealed"
                 hx-swap="afterend"
                 hx-target="this">
            </div>
        {% endif %}
    </div>
{% endblock %}
