<nav class="navbar" aria-label="offcanvas navbar">
    <div class="container-fluid">
        <button id='navbar-toggler' class="btn-round" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-navbar" aria-controls="offcanvasNavbarLight">
            <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas-navbar" aria-labelledby="offcanvasNavbarLightLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                {% include 'partials/logo.html' %}
            </div>
        </div>
    </div>
</nav>
