{% load static wagtailcore_tags wagtailuserbar %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<!-- TODO still missin navbar and footer -->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
            <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
            <base target="_blank">
        {% endif %}

        {% render_bundle 'style' 'css' %}
        {% block extra_css %}
            <!-- Include jQuery -->
            <!-- Include jQuery -->
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

            <script>
                 $(document).ready(function() {
                     // Function to generate a random RGB color
                     function getRandomColor() {
                         return 'rgb(' + random(256) + ',' + random(256) + ',' + random(256) + ')';
                     }

                     // Apply random background color to each box
                     $('.box1').each(function(index) {
                         $(this).css('background-color', getRandomColor());
                     });
                 });
            </script>

        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% wagtailuserbar %}

        {#% include 'partials/navbar.html' %#}
        <main>
            <div class="wrapper">
                {% for i in "x"|rjust:12 %}
                    <div class="box1">i</div>
                {% endfor %}
            </div>
            {% block content %}
            {% endblock %}
        </main>

        {% render_bundle 'style' 'js' %}
        {% render_bundle 'bundle' 'js' %}

        {% block extra_js %}
            <!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  $(document).ready(function() {
    // Function to generate a random RGB color
    function getRandomColor() {
      return 'rgb(' + random(256) + ',' + random(256) + ',' + random(256) + ')';
    }

    // Apply random background color to each box
    $('.box1').each(function(index) {
      $(this).css('background-color', getRandomColor());
    });
  });
</script>

        {% endblock %}
    </body>
</html>
