<nav class="navbar" aria-label="offcanvas navbar">
    <div class="container-fluid">
        <button type="button" id="navbar-toggler" class="btn-round"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvas-navbar"
                aria-controls="offcanvasNavbarLight">
            <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
        <div class="offcanvas offcanvas-start" id="offcanvas-navbar" tabindex="-1" aria-labelledby="offcanvasNavbarLightLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                {% include 'partials/logo.html' %}
            </div>
            <div class="offcanvas-body">
                <!-- Add your offcanvas content here -->
            </div>
        </div>
    </div>
</nav>
